<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First project</title>
</head>
<body>
    <h1>This is our first page</h1>
    <h3>We have followed the following steps:</h3>
    <ul>
        <li>Create django project using "django-admin startproject views_urls" command</li>
        <li>Then created a python file named "views.py" and geenerated a HTTP Request using "from django.http import HttpResponse" command</li>
        <li>Then added the path in "urls.py" file using "import . from views" and added "path('', views.home)" </li>
        <li>Then created a folder outside named templates</li>
        <li>Then added this "templates" directory in "setting.py" file.</li>
        <li>Then edited the views.py files.  "from django.shortcuts import render" and return render(request, 'index.html')</li>
    </ul>
</body>
</html>